In [4]:
# Import pandas
import pandas as pd

In [5]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt',sep=' ')
df.head(10)

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian
5,22.486178,80.180,8047,569,4,77,10,Male,No,No,Caucasian
6,10.574516,20.996,3388,259,2,37,12,Female,No,No,African American
7,14.576204,71.408,7114,512,2,87,9,Male,No,No,Asian
8,7.938090,15.125,3300,266,5,66,13,Female,No,No,Caucasian
9,17.756965,71.061,6819,491,3,41,19,Female,Yes,Yes,African American

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [36]:
# Compare the average income based on ethnicity.
#df[['Ethnicity','Income']].groupby('Ethnicity').agg(['mean','count','sum'])
df[['Ethnicity','Income']].groupby('Ethnicity').mean()
#df.groupby(['Ethnicity'])["Income"].mean()

                     Income
Ethnicity
African American  47.682101
Asian             44.187833
Caucasian         44.521945

In [38]:
# On average, do married or single people have a higher balance?
df[['Married','Balance']].groupby('Married').mean()

           Balance
Married
No       13.493509
Yes      13.388473

In [43]:
# What is the highest income in our dataset?
df["Income"].max()

186.634

In [44]:
# What is the lowest income in our dataset?
df["Income"].min()

10.354

In [45]:
# How many cards do we have recorded in our dataset? (Hint: use sum())
df["Cards"].sum()

1183

In [51]:
# How many females do we have information for vs how many males?
df.groupby(['Gender'])["Gender"].count()

Gender
Female    207
Male      193
Name: Gender, dtype: int64